@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}
body{
    background-color: #f5f5f5;
}
.landing-page {
    width: 1200px;
    /* background: #222; */
    margin: auto;
    
}

.navbar {
    max-width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-title {
    font-weight: bold;
    font-size: 32px;

}

.login-btn {
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: transparent;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

/* hero section */

.hero {
    width: 100%;
    /* padding: 10px; */
    background-color: #c6e4d6;
    border-radius: 9px;
    margin: 30px 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-subTitle {
    color: #6a7972;
}

.hero-title {
    font-size: 30px;
    margin-bottom: 21px;
}

.hero-btn {
    width: fit-content;
    padding: 16px 27px;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.right-content {
    width: 50%;
    display: flex;
    justify-content: end;
}

/* pillar section */
.pillar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 80px 0;
}

.pillar-title {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: -1px;
}

.pillar-card-wrapper {
    display: flex;
    gap: 20px;
}

.pillar-card {
    width: 237px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: #ffffff;
}

.pillar-img {
    width: 45px;
}

.pillar-card-title {
    font-size: 24px;
    font-weight: 500;
    color: #3e3e3e;
}

.pillar-desc {
    font-size: 14px;
    color: #808080;
}

/* vision section */

.vision {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vision-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vision-title {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -1px;
}

.vision-desc {
    font-size: 15px;
    color: #545454;
}

/* vistion card */
.vision-card-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.vision-card {
    width: 319px;
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #d5e1f5;
    border-radius: 10px;
}

.vision-img {
    width: 60px;
}

.vision-card-title {
    font-size: 20px;
    font-weight: 600;
    color: #333936;
}

.vision-card-desc {
    font-size: 14px;
}

.vision-card-btn {

    width: 111px;

    padding: 10px 9px;

    border: none;

    border-radius: 5px;

    color: white;

    font-weight: 600;

    margin-top: 35px;
}
#vision-card-1{
    background-color: #d5e1f5;
}
#vision-card-1 .vision-card-btn{
    margin-top: 20px;
    background-color: #5490f5;
}

#vision-card-2{
    background-color: #c6e4d6;
}

#vision-card-2 .vision-card-btn{
    background-color: #09a15c;
}


#vision-card-3{
    background-color:#f7ebcf
}

#vision-card-3 .vision-card-btn{
    background-color: #ffc239;
}

/* quotes section */

.quotes{
    margin: 80px 0;
}
.quotes-content{
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 30px 10px;
    width: fit-content;
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 14px;
    background-color: #ffffff;
}
.quotes-text{
    font-size: 16px;
    color: #3e3e3e;
}
.quotes-owner{
    font-size: 20px;
    font-weight: 600;
    color: #3e3e3e;
}
.owner-title{
    font-size: 12px;
    margin-top: -5px;
    color: #777777;
}

/* opinion  */

.opinion {
    margin: 80px 0;
}

.opinion-content {
    padding: 33px;
    background-color: #fff;
    border-radius: 10px;
}

.opinion-box {
    border: 1px solid black;
}

.opinion-title {font-size: 42px;margin-bottom: 10px;font-weight: 700;letter-spacing: -1px;}

.opinion-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.opinion-desc p {
    width: 85%;
    border-right: 1px solid black;
    padding: 30px 0px;
}

.opinion-box-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px 20px;
    background-color: #c6e4d6;

}
.opinion-select {
    padding: 15px;
}

.opinion-box-title h3 {
    font-weight: 700;
}

.opinion-select button {
    background-image: url("./assets/arrow-btn.png");
    background-repeat: no-repeat;
    background-position: 85px 2px;
    background-size: contain;
    padding: 10px 25px;
    font-size: 13px;
    background-color: #c6e4d6;
    border: 1px solid;
    border-radius: 5px;
}
#opinion-desc-1{
    border-bottom: 1px solid black;
}
#opinion-desc-2{
    border-bottom: 1px solid black;
}

.recent-news {
    margin: 80px 0;
}

.recent-news-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent-news-title-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent-news-title-content h3 {
    font-size: 40px;
    font-weight: 600;
}

.recent-news-title-content p {
    line-height: 30px;
}

.single-recent-news-desc-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.single-recent-news-desc-content {
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    gap: 24px;
    border-radius: 10px;
}

.recent-news-desc-img {
    width: 930px;
    border-radius: 15px;
    overflow: hidden;
}

.single-recent-news-desc-content-catainer {display: flex;flex-direction: column;gap: 15px;}

h3.single-recent-news-desc-content-title {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 500;
}

.single-recent-news-desc-content-button {
    width: 130px;
    padding: 12px 0px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #006a50;
    border-radius: 6px;
    margin-top: 30px;
}
#single-recent-news-2{
flex-direction: row-reverse;
}
/* donate */

.donate {
    margin: 80px 0;
}

.donate-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 82%;
    margin: auto;
}

.donate-title-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.donate-title-content h3 {
    font-size: 40px;
    font-weight: 600;
}

.donate-title-content p {
    line-height: 30px;
    font-size: 14px;
}

.donate-card {
    width: 230px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
}

.donate-card h3 {
    font-size: 40px;
    font-weight: 600;
    color: #333936;
}
#donate-card-2{
    background-color: #c6e4d6;
}
.donate-card-wrapper {
    display: flex;
    gap: 20px;
}
.donate-amount {
    margin: auto;
    width: 100%;
    background: red;
}

.donate-amount input {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 18px 0px;
    font-size: 20px;
    color: #c9c9c9;
}
.donate-done-btn {
    width: 130px;
    padding: 12px 0px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #006a50;
    border-radius: 6px;
    margin-top: 30px;
}
/* subcribe */


.subcribe {
    margin: 80px 0;
    max-width: 100%;
    padding: 100px;
    background-color: #c6e4d6;
    border-radius: 10px;
}

.subcribe-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: auto;
}

.subcribe-title {
    font-size: 40px;
    font-weight: 600;
}

.subcribe-desc {
    font-size: 14px;
    width: 90%;
    margin: auto;
}

.subcribe-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subcribe-input input {
    padding: 20px 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    color: #c0c0c0;
}

.subcribe-input button {
    padding: 20px 44px;
    position: absolute;
    right: -1px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #006a50;
    color: white;
    font-size: 18px;
}
.subcribe-span-text {
    color: #464f4b;
}

/* footer */


.footer {
    background: #ffffff;
}

.footer-wrapper {
    width: 75%;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.social-media {
    display: flex;
    gap: 20px;
}

.div-border {
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
}